<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trung Tâm Lái Xe Bắc Hà</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SEP490_SU25_G90.styles.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="container header-container">
            <div class="logo"><a asp-page="/Home/Index">Trung Tâm Lái Xe Bắc Hà</a></div>
            <div class="nav-row">
                <nav class="nav-menu">
                    <a asp-page="/Home/Index">Trang chủ</a>
                    <!-- Giới thiệu -->
                    <a href="#about">Giới thiệu</a>
                    <!-- Đăng ký học -->
                    <a href="#about">Đăng ký học</a>
                    <!-- Tài liệu --> 
                    <a href="#">Tài liệu </a>                   
                    <!-- Thi thử -->
                    <div class="dropdown">
                        <a href="#">Thi thử ▾</a>
                        <ul class="dropdown-menu">
                            <li><a href="#b1">Thi thử B1</a></li>
                            <li><a href="#b2">Thi thử B2</a></li>
                            <li><a href="#c">Thi thử C</a></li>
                            <li><a href="#c1">Thi thử C1</a></li>
                            <li><a href="#de">Thi thử D/E</a></li>
                        </ul>
                    </div>
                    <a href="/Learner/News/ListNews">Tin tức</a>
                    <a href="#contact">Liên hệ</a>
                </nav>

                @if (User.Identity.Name == null)
                {
                    <a asp-page="/Commons/Login" class="login-link">Đăng nhập</a>
                }
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container my-5">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="footer text-center border-top py-3">
        <div class="container">
            &copy; 2025 Trung Tâm Lái Xe Bắc Hà. All rights reserved.
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
