@page
@model SEP490_SU25_G90.Pages.Instructors.LearnApplication.UpdateLearningApplicationDetailsModel

@{
    ViewData["Title"] = "UpdateLearningApplicationDetails";
    Layout = "~/Pages/Shared/_InstructorLayout.cshtml";
}

<h1>UpdateLearningApplicationDetails</h1>

<h4>LearningApplication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LearningApplication.LearningId" />
            <div class="form-group">
                <label asp-for="LearningApplication.LearnerId" class="control-label"></label>
                <select asp-for="LearningApplication.LearnerId" class="form-control" asp-items="ViewBag.LearnerId"></select>
                <span asp-validation-for="LearningApplication.LearnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LearningApplication.LicenceTypeId" class="control-label"></label>
                <select asp-for="LearningApplication.LicenceTypeId" class="form-control" asp-items="ViewBag.LicenceTypeId"></select>
                <span asp-validation-for="LearningApplication.LicenceTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LearningApplication.SubmittedAt" class="control-label"></label>
                <input asp-for="LearningApplication.SubmittedAt" class="form-control" />
                <span asp-validation-for="LearningApplication.SubmittedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LearningApplication.TheoryScore" class="control-label"></label>
                <input asp-for="LearningApplication.TheoryScore" class="form-control" />
                <span asp-validation-for="LearningApplication.TheoryScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LearningApplication.SimulationScore" class="control-label"></label>
                <input asp-for="LearningApplication.SimulationScore" class="form-control" />
                <span asp-validation-for="LearningApplication.SimulationScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LearningApplication.ObstacleScore" class="control-label"></label>
                <input asp-for="LearningApplication.ObstacleScore" class="form-control" />
                <span asp-validation-for="LearningApplication.ObstacleScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LearningApplication.PracticalScore" class="control-label"></label>
                <input asp-for="LearningApplication.PracticalScore" class="form-control" />
                <span asp-validation-for="LearningApplication.PracticalScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LearningApplication.LearningStatus" class="control-label"></label>
                <input asp-for="LearningApplication.LearningStatus" class="form-control" />
                <span asp-validation-for="LearningApplication.LearningStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LearningApplication.TestEligibility" class="control-label"></label>
                <input asp-for="LearningApplication.TestEligibility" class="form-control" />
                <span asp-validation-for="LearningApplication.TestEligibility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
