@page "/Admin/Users/Create"
@model SEP490_SU25_G90.Pages.Admins.User.CreateAccountModel

@{
    ViewData["Title"] = "Tạo tài khoản mới";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>CreateAccount</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewUser.Email" class="control-label"></label>
                <input asp-for="NewUser.Email" class="form-control" autocomplete="new-email" />
                <span asp-validation-for="NewUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.PasswordHash" class="control-label"></label>
                <input asp-for="NewUser.PasswordHash" class="form-control" autocomplete="new-password" />
                <span asp-validation-for="NewUser.PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.FirstName" class="control-label"></label>
                <input asp-for="NewUser.FirstName" class="form-control" />
                <span asp-validation-for="NewUser.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.MiddleName" class="control-label"></label>
                <input asp-for="NewUser.MiddleName" class="form-control" />
                <span asp-validation-for="NewUser.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.LastName" class="control-label"></label>
                <input asp-for="NewUser.LastName" class="form-control" />
                <span asp-validation-for="NewUser.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.Dob" class="control-label"></label>
                <input asp-for="NewUser.Dob" class="form-control" />
                <span asp-validation-for="NewUser.Dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.Gender" class="control-label"></label>
                <select asp-for="NewUser.Gender" asp-items="Model.GenderSelect" class="form-control">
                    <option value="">-- Chọn --</option>
                </select>
                <span asp-validation-for="NewUser.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewUser.Phone" class="control-label"></label>
                <input asp-for="NewUser.Phone" class="form-control" />
                <span asp-validation-for="NewUser.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" asp-items="Model.RoleSelect" class="form-control">
                    <option value="">-- Chọn --</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="UserList">Trở Về</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
