@page
@model ErrorModel
@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Không có quyền";
}

<h1 class="text-danger">Đã có lỗi xảy ra.</h1>
<h2 class="text-danger">Bạn không có quyền truy cập trang này.</h2>

