@page
@model SEP490_SU25_G90.Pages.IndexModel
@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Lỗi hệ thống";
}

<h1 class="text-danger">Đã có lỗi xảy ra.</h1>
<h2 class="text-danger">Hệ thống đã xảy ra lỗi. Vui lòng thử lại sau.</h2>
